<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>                        
      </button>
      
      <%= link_to "Friend Book" , root_path , class: "navbar-brand" %>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      
      
     

      

      
      <ul class="nav navbar-nav navbar-right">
          <li>
              <a href="#">Timeline</a>
          </li>
          <li>
              <a href="#">People</a>
          </li>
        <% if user_signed_in? %>
            
            <li><%= link_to "Sign Up" ,edit_user_registration_path  %> 
            </li>
            <li><%= link_to "Sign out" ,destroy_user_session_path , method: :delete , data: {confirm: "Wanna Log out ?"}  %>
               
            </li>
            
            
        <% else %>
            <li><%= link_to "Sign Up", new_user_registration_path  %> 
            </li>
            <li><li><%= link_to "Log In" , user_session_path  %> 
            </li>
        
        <% end %>
      </ul>
    </div>
  </div>
</nav>

